h1 { color: black;

}
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
padding: 0%;
width:400%;

animation: cambio 20s infinite;
animation-direction: ease;
}
.slider :nth-child(2) ul{
animation-timing-function: ease-in;
}

.slider li{
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}
@keyframes cambio {
    0% { margin-left: 0%;}
    25% { margin-left: 0%;}

    30% { margin-left: -100% ;}
    50%{margin-left: -100% ;}
     
    60% { margin-left: -200%;}
    80% { margin-left: -200%;}

    90% { margin-left: -300%;}
    100% { margin-left: -300%;}

}
.b1{padding:6px;border-radius:30%;background-color: yellow;}


 
}
h1 { color: white;

}
.video{
    outline:none;
}

