
.slide {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slide ul {
    display: flex;
padding: 0%;
width:200%;

animation: change 10s infinite;
animation-direction: ease;
}
.slide :nth-child(2) ul{
animation-timing-function: ease-in;
}

.slide li{
    width: 80%;
    list-style-type: none;
}
.slide img {
    width: 80%;
}
@keyframes change
 {
    10% { margin-left: 0%;}
    25% { margin-left: 0%;}

    40% { margin-left: -100% ;}
    50%{margin-left: -100% ;}
     
    60% { margin-left: -200%;}
    70% { margin-left: -200%;}

    80% { margin-left: -300%;}
    100% { margin-left: -300%;}

}


.sliders {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.sliders ul {
    display: flex;
padding: 0%;
width:400%;

animation: cambio 20s infinite;
animation-direction: ease;
}
.sliders :nth-child(2) ul{
animation-timing-function: ease-in;
}

.sliders li{
    width: 100%;
    list-style: none;
}
.sliders img {
    width: 100%;
}
@keyframes cambio {
    0% { margin-left: 0%;}
    25% { margin-left: 0%;}

    30% { margin-left: -100% ;}
    50%{margin-left: -100% ;}
     
    60% { margin-left: -200%;}
    80% { margin-left: -200%;}

    90% { margin-left: -300%;}
    100% { margin-left: -300%;}

}