
body{
    background: #fffffa;

}
header{
    width: 100%;
}
header nav{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
background: yellow;
}
.menu_bar {
    display: none;
}
header nav ul {
    overflow: hidden;
    list-style: none;
}
header nav ul li {
    float: left;
}
header nav ul li a{
    color: black;
    padding: 20px;
    display: block;
    text-decoration: none;


}
header nav ul li span{
    margin-right:10px;

}
header nav ul li a:hover {
    background: #d4d103;
    padding: 20px;
}
section{
padding: 20px;
}

@media screen and (max-width:800px){

header nav{
    width: 80%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;

    
}
header nav ul li{
    display: block;
    float:none;
    border-bottom:1px solid rgba(252, 193, 0, 0.3);
}
.menu_bar{
    display: block;
    width: 150px;
    
    background: rgb(255, 217, 0);

}
.menu_bar .bt-menu{
    display: block;
    padding: 20%;
    background:yellow;
    color:black;
    text-decoration: none;
font-weight: bold;
font-size: 20px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}


.menu_bar span{
    float: right;
    font-size: 40px;



}
}




